{{ 'express-checkout.css' | asset_url | stylesheet_tag }}

<div id="yc-sticky-checkout" class="yc-sticky-checkout">
  <div class="step_1" id="checkout_step_1">
    <div class="sticky-product-details">
      <div class="variant-panel">
        {{ 'snippets.sticky-checkout.complete_following_options' | t }}
      </div>
      <button class="exit-button" onclick="goToCheckoutStep(0)">
        <ion-icon name="close-outline"></ion-icon>
      </button>
      <div class="options"></div>
    </div>
    <div class="cta-bottom-wrapper">
      <button class="yc-btn w-full font-bold" onclick="goToCheckoutStep(2)">
        {{ settings.express_checkout_cta }}
      </button>
    </div>
  </div>
  <div class="step_2" id="checkout_step_2">
    <div class="step-2-wrapper">
      <button class="back-button" onclick="goToCheckoutStep(1)">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </button>
      <section class="sticky-desktop-wrapper">
        <div class="variant-card">
          {% render 'product-card' %}
        </div>
        <div class="sticky-checkout-form"></div>
      </section>
    </div>
    <div class="cta-bottom-wrapper">
      <button
        type='submit'
        class='yc-btn w-full express-checkout-button'
        onclick='placeOrder(this)'>
        <span class='spinner hidden' id='loading__checkout'></span>
        <span>{{ settings.express_checkout_cta }}</span>
      </button>
    </div>
</div>
