.yc-slider__desktop {
  display: none;
}
@media (min-width: 768px) {
  .yc-slider__desktop {
    display: block;
  }
}
.yc-slider__desktop .content {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.yc-slider__desktop .content * {
  background-color: transparent !important;
}
.yc-slider__desktop .content > div {
  position: relative;
  z-index: 3;
}
.yc-slider__desktop .content h1 {
  font-size: 38px;
  font-weight: 800;
}
.yc-slider__desktop .content h2 {
  font-size: 34px;
  font-weight: 700;
}
.yc-slider__desktop .content p {
  font-size: 18px;
  font-weight: 600;
}
.yc-slider__desktop .content .btn-holder {
  display: flex;
  text-align: center;
  justify-content: center;
}
