@import 'helpers/mixins';

body {
  background: #F7F7F7;
}

.yc-cart {
  .empty-cart {
    ion-icon {
      --ionicon-stroke-width: 18px;
    }
  }

  .cart-table.container {
    padding: 0;

    @include breakpoint('md') {
      padding: 0 20px;
    }

  }

  .cart-table {
    margin-top: 26px;
    margin-bottom: 26px;

    @include breakpoint('md') {
      margin-top: 36px;
      margin-bottom: 72px;
    }

    .header-block {
      display: flex;
      flex-direction: column;
      gap: 36px;
      padding: 0 20px;

      @include breakpoint('md') {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
      }

      .header-bar {
        display: flex;
        align-items: center;
        gap: 12px;

        h2 {
          color: #000;
          font-size: 26px;
          font-weight: 700;
          line-height: 105.5%;
        }

        .cart-badge {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: var(--yc-primary-color);
          color: white;
          flex-shrink: 0;
          font-size: 14px;
          font-weight: 600;
          line-height: 140.5%
        }
      }

      .checkout_cta {
        width: 100%;
        max-width: 428px;

        .yc-btn {
          font-size: 14px;
        }

      }
    }

    .table-container {
      display: flex;
      flex-direction: column;
      margin: 24px 0;
      background-color: white;

      @include breakpoint('md') {
        margin: 36px 0;
      }

      .cart__item {
        margin-bottom: 25px;
      }

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .cell {
          text-align: start;

          .product-title {
            font-weight: 400;
            font-size: 16.5px;
            margin-bottom: 10px;
            width: 86%;
          }

          .total-price-wrapper span {
            color: var(--yc-primary-color);
            font-weight: 700;
            font-size: 17px;
          }

          .product-image {
            img {
              width: 140px;
              height: 110px;
              object-fit: contain;
            }
          }
        }

        .close-btn {
          font-size: 25px;
          color: #4B5565;
        }
      }
    }

    .summary-box {
      display: flex;
      flex-direction: column;

      @include breakpoint('md') {
        flex-direction: row;
        justify-content: space-between;
      }

      #summary {
        background: white;
        width: 100%;

        @include breakpoint('md') {
          max-width: 428px;
        }

        .price-wrapper {
          padding: 24px 20px;
        }

        .border-divider {
          border-top: 1px solid gray;
          margin: 0 20px;
        }

        .total-price-wrapper {
          padding: 15px 20px 24px 20px;

          @include breakpoint('md') {
            padding: 0;
          }
          .total-items {
            padding: 0 0 26px 0;

            @include breakpoint('md') {
              padding: 15px 24px 20px 24px;
            }
          }
        }
      }
    }
  }

  .quantity-wrapper {
    width: fit-content;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;

    button {
      width: 34px !important;
      min-width: 34px !important;
      max-width: 34px !important;
      height: 34px !important;
      min-height: 34px !important;
      max-height: 34px !important;
      background-color: transparent;
      font-size: 18px;
      color: #B7B7B7;
    }

    input {
      width: 34px !important;
      min-width: 34px !important;
      max-width: 34px !important;
      height: 34px !important;
      min-height: 34px !important;
      max-height: 34px !important;
      margin: 0 !important;
      padding: 0 !important;
      background-color: white;
      display: flex;
      font-weight: 600 !important;
      font-size: 16px !important;
      border: 0;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    @media screen and (max-width: 520px) {
      button, input {
        width: 26px !important;
        min-width: 25px !important;
        max-width: 25px !important;
        height: 27px !important;
        min-height: 27px !important;
        max-height: 27px !important;
      }
    }
  }
}
