.cart-drawer {
  position: fixed;
  padding: 32px 24px;
  top: 0;
  right: -478px; /* Set this equal to the width of your cart drawer */
  width: 478px; /* Adjust this value based on your desired cart drawer width */
  height: 100%;
  background: #FFFFFF;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.cart-drawer.open {
  right: 0;
}

.cart-drawer__close {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999; /* Set this value lower than the z-index of .cart-drawer */
  visibility: hidden;
}

.cart-overlay.open {
    visibility: visible;
    opacity: 1;
}
